<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{title || "Test node app"}}</title>
    @if ($slots.meta)
        {{{ await $slots.meta() }}}
    @endif

    @if ($slots.styles)
        {{{ await $slots.styles() }}}
    @endif
    <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    @include('partials/header')
    <main class="main-content">
        <div class="container">
            {{{ await $slots.main() }}}
        </div>
    </main>

    @stack('scripts')
    @if ($slots.scripts)
        {{{ await $slots.scripts() }}}
    @endif
</body>
</html>
