@layout.app({ title: "Shop - Home Page", isAuthenticated, locals })

    @slot('main')
        <h2 class="text-left text-lg max-w-[400px] mx-auto mt-6 mb-2!">Edit: {{ product.title }}</h2>
        @include('partials/product-form')
    @endslot

@end
