@layout.app({ title: "Shop - Home Page", isAuthenticated })

    @slot('main')
        <h1>Welcome to the Add Product Page</h1>
        <p style="text-align: center; font-size: 1.2em; margin: 0 0 1.5em">
            Please fill out the form below to add a new product.
        </p>
        @include('partials/product-form')
    @endslot

@end
