@layout.app({ title: "Shop - Server side error", locals, isAuthenticated})
    @slot('main')
        <h1 class="text-4xl my-4 text-gray-600!">Something went wrong</h1>
        <h4 class="text-2xl my-4 text-gray-600!">We're working on fixing this, sorry for the inconvenience!</h4>
    @endslot
@end
