<header class="header">
    <nav>
        <ul class="nav-list">
            @each(link in config.navigation)
                <li>
                    <a class="{{ path === link.url ? 'active' : ''}}" href="{{ path === link.url ? '#' : link.url }}">{{ link.text }}</a>
                </li>
            @end
        </ul>
    </nav>
</header>
